.photos {
  text-align: center;
}

.photo-content {
  background-color: rgb(202, 157, 157);
}

.photos {
  font-size: 50px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-display: bold;
}